


body {
    background-color: rgb(238, 236, 236);
}

hr {
    border: 3px solid #E6E6E6;
}

.bottomBox {
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.dotRow{
    display: flex;
    flex-direction: row;
}

.dot_1, .dot_2, .dot_3, .dot_4 {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dot_1 {
    background-color: #E6563B;
}
.dot_2 {
    background: #DEA03D;
}
.dot_3 {
    background: #7DB06D;
}
.dot_4 {
    background: #00ABA9;
}

.dotSmall_1 {
    background-color: #E6563B;
}
.dotSmall_2 {
    background: #DEA03D;
}
.dotSmall_3 {
    background: #7DB06D;
}
.dotSmall_4 {
    background: #00ABA9;
}





.text-able1 {
    font-family: 'Abel', sans-serif;
}



.text-able{

    font-family: 'Anton', sans-serif;
}



.dotSmall_1, .dotSmall_2, .dotSmall_3, .dotSmall_4 {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    /*border: 6px solid black;*/
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 11px;
    font-weight:bold;

}


.imgBorder {
    border:8px solid #E6E6E6;

}







/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { ... }

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #secondCond {

    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }