*{

    font-family: 'Anton', sans-serif;
}

body {
    background-color: rgb(238, 236, 236);
}

/*img {*/
/*    float: left;*/
/*    !*width:  100px;*!*/
/*    !*height: 200px;*!*/
/*    object-fit: cover;*/
/*}*/

.container {

}

.dot_1, .dot_2, .dot_3, .dot_4 {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dotSmall_1, .dotSmall_2, .dotSmall_3, .dotSmall_4 {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    /*border: 6px solid black;*/
    display: flex;
    justify-content: center;
    align-items:center;

}



hr {
    border: 2px solid lightgrey;
}

.card {
    background-color: rgb(238, 236, 236);

}


.dot_1 {
    background-color: #E6563B;
}
.dot_2 {
    background: #DEA03D;
}
.dot_3 {
    background: #7DB06D;
}
.dot_4 {
    background: #00ABA9;
}

.dotSmall_1 {
    background-color: #E6563B;
}
.dotSmall_2 {
    background: #DEA03D;
}
.dotSmall_3 {
    background: #7DB06D;
}
.dotSmall_4 {
    background: #00ABA9;
}

.text-able {
    font-family: 'Abel', sans-serif;
}

#main {
    background-color: rgb(238, 236, 236);
}

#mid-sec {

}
@media (min-width: 992px) {
    .text-center {

    }
}